{% load crispy_forms_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign Up</title>
</head>
<body>
{% if registered %}
    <div class="container">
        <h1>Successfully Registered!!!</h1>
        <p class="login-request">Login Here. <a href="{% url 'App_Login:login' %}"><i class="fa fa-sign-in"></i></a></p>
    </div>
{% else %}
    <div class="container">
        <h1>Sign up Form</h1>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <a onclick="password_show();">
                <i class="fa fa-eye" id="eye-show"> See Password</i>
            </a>
            <input type="submit" value="Submit" class="btn btn-success">
            <p class="login-request" style="text-align: center">I have an account. Go to
                <a href="{% url 'App_Login:login' %}">Login</a>
            </p>
        </form>
    </div>
{% endif %}

<script>
    let pass1 = document.getElementById("id_password1");
    let pass2 = document.getElementById("id_password2");
    let eye = document.getElementById("eye-show");

    function password_show(){
        if (pass1.type === "password"){
            pass1.type = "text";
            pass2.type = "text";
            eye.className = "fa fa-eye-slash";
        }
        else {
            pass1.type = "password";
            pass2.type = "password";
            eye.className = "fa fa-eye";
        }
    }

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
